
// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500');

// Variables
@import 'variables';

// Fontawesome
$fa-font-path: "../webfonts";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// AdminLTE
@import '~admin-lte/dist/css/adminlte.css';

//multiselect
@import '~vue-multiselect/dist/vue-multiselect.min.css';

// More Fontawesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

// separator
.separator {
  border: 1.5px solid #ff7900;
}

.pointer {
  cursor: pointer;
}

// Quill wysiwyg
.navbar-laravel{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  @include media-breakpoint-up(xs) {
      background-color: #fff;
  }
  @include media-breakpoint-up(sm) {
    background-color: #fff;
  }
  @include media-breakpoint-up(md) {
    background-color: $orange;
    .navbar-text{
      color: white;
    }
  }
  @include media-breakpoint-up(lg) {
    background-color: $orange;
    .navbar-text{
      color: white;
    }
  }
  @include media-breakpoint-up(xl) {
    background-color: $orange;
    .navbar-text{
      color: white;
    }
  }
}

.router-link-exact-active {
  background-color: $orange;
  color: #fff !important;
}

.app-sidenav {
  width: 230px;
  height: 100%;
  position: fixed;
  z-index: 2;
  transition: 0.5s;
  a{
    color: #4a4a4a;
  }
  @include media-breakpoint-up(xs) {
    width: 0;
    display: none;
  }
  @include media-breakpoint-up(sm) {
    width: 0;
    display: none;
  }
  @include media-breakpoint-up(md) {
    width: 230px;
    display: block;
  }
  @include media-breakpoint-up(lg) {
    width: 230px;
    display: block;
  }
  @include media-breakpoint-up(xl) {
    width: 230px;
    display: block;
  }
}

.activesn {
  background-color: $orange;
  a{
    color: white;
  }
}

.join-us-home {
  @include media-breakpoint-up(xs) {
    height: 100vh;
  }
  @include media-breakpoint-up(sm) {
    height: 60vh;
  }
  @include media-breakpoint-up(md) {
    height: 40vh;
  }
  @include media-breakpoint-up(lg) {
    height: 40vh;
  }
  @include media-breakpoint-up(xl) {
    height: 40vh;
  }
}

.our-practice-home {
  @include media-breakpoint-up(xs) {
    height: 100vh;
  }
  @include media-breakpoint-up(sm) {
    height: 80vh;
  }
  @include media-breakpoint-up(md) {
    height: 70vh;
  }
  @include media-breakpoint-up(lg) {
    height: 70vh;
  }
  @include media-breakpoint-up(xl) {
    height: 70vh;
  }
}

.what-we-do-home {
  @include media-breakpoint-up(xs) {
    height: 100vh;
  }
  @include media-breakpoint-up(sm) {
    height: 80vh;
  }
  @include media-breakpoint-up(md) {
    height: 70vh;
  }
  @include media-breakpoint-up(lg) {
    height: 70vh;
  }
  @include media-breakpoint-up(xl) {
    height: 60vh;
  }
}

.v-lazy-image {
  filter: blur(10px);
  transition: filter 0.7s;
}
.v-lazy-image-loaded {
  filter: blur(0);
}

// route transition
.router-anim-enter-active {
  animation: coming 1s;
  animation-delay: .5s;
  opacity: 0;
}
.router-anim-leave-active {
  animation: going 1s;
}

@keyframes going {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-20px);
    opacity: 0;
  }
}
@keyframes coming {
  from {
    transform: translateX(-20px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.display-none {
  display: none !important;
}
