<template>
  <div>
    <div class="row">
      <div class="col d-none d-md-block sidenav-space"></div>
      <div class="col bg-grey-black">
        <div class="container-fluid">
          <div class="row justify-content-md-center align-items-center full-height" style="margin-top:70px;">
            <div class="col-sm-12 col-md-10  col-lg-10 text-light text-center">
              <div class="row">
                <div class="col-md-12">
                  <p class="h4 font-weight-light">C230 Consultores</p>
                  <h1 class="h1 font-weight-bold">¿Quiénes somos?</h1>
                  <p class="h5 font-weight-light mt-4">11 años generando información para impulsar la mejor toma de decisiones</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <p class="h2 text-center mb-4 mt-4">Nuestros valores</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <v-lazy-image src="/img/aboutus/svg/diamond.svg" src-placeholder="" class="img-fluid line-down mx-auto d-block figure" alt="line down"/>
                  <p>Precisión en tiempos y entregables</p>
                </div>
                
                <div class="col-md-4">
                    <v-lazy-image src="/img/aboutus/svg/hexagon.svg" src-placeholder="" class="img-fluid line-down mx-auto d-block figure" alt="line down"/>
                    <p>Flexibilidad en selección de metodologías para entregar resultados</p>
                </div>
                <div class="col-md-4">
                  <v-lazy-image src="/img/aboutus/svg/flower.svg" src-placeholder="" class="img-fluid line-down mx-auto d-block figure" alt="line down"/>
                  <p>Excelencia e innovación en procesos</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
    <div class="row">
      <div class="col d-none d-md-block sidenav-space"></div>
      <div class="col bg-white">
        <div class="container-fluid">
          <div class="row justify-content-md-center align-items-center mt-5">
            <div class="col-sm-12 col-md-6  col-lg-6">
              <h1 class="font-weight-light">Incidencia</h1>
              <hr class="separator">
              <p>
                Nosotros proponemos contribuir a la generación e implementación de políticas, intervenciones y programas que favorezcan de manera significativa y sustentable el desarrollo económico, la reducción de la pobreza y la igualdad de oportunidades.
              <p>
                Nos motiva pensar que nuestro quehacer fortalece a la región Latinoamericana, y en particular a los países en los que operamos.
              </p>
            </div>
            <div class="col-sm-12 col-md-6  col-lg-6">
              <v-lazy-image src="/img/aboutus/coins.jpg" src-placeholder="" class="img-fluid rounded" alt="Coins"/>
            </div>
          </div>
        </div>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
    <div class="row">
      <div class="col d-none d-md-block sidenav-space"></div>
      <div class="col bg-white">
        <div class="container-fluid">
          <div class="row justify-content-md-center align-items-center mt-5 mb-5">
            <div class="col-sm-12 col-md-6  col-lg-6">
              <v-lazy-image src="/img/aboutus/arrow.jpg" src-placeholder="" class="img-fluid rounded" alt="Arrow"/>
            </div>
            <div class="col-sm-12 col-md-6  col-lg-6">
              <h1 class="font-weight-light">Historia</h1>
              <hr class="separator">
              <p>
                11 años de experiencia
              <p>
                C230 Consultores nació como el brazo consultor de Fundación IDEA, con el propósito de extender la gama de servicios ofrecidos a clientes públicos y privados en áreas de fomentar el desarrollo social y económico de América Latina y México.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
    <div class="row">
      <div class="col d-none d-md-block sidenav-space"></div>
      <div class="col bg-grey-black">
        <div class="container-fluid">
          <div class="row justify-content-md-center align-items-center full-height">
            <div class="col-sm-12 col-md-10  col-lg-10 text-light text-center">
              <h1 class="font-weight-light">Nuestro talento, nuestro valor</h1>
              <hr class="separator">
              <p>
                En C230 Consultores contamos con un equipo de trabajo multidisciplinario, con amplia experiencia y credenciales académicas de las mejores universidades nacionales (UNAM, CIDE, Tecnológico de Monterrey, Universidad Iberoamericana), e internacionales (Columbia, Harvard, Oxford, NYU, MIT, Stanford, Chicago, University of Toronto y University of Notre Dame).
              </p>
              <p>
                Nuestros valores se basan en la excelencia e innovación en procesos, solidez en el manejo de tiempos y flexibilidad para entregar resultados específicos y en sintonía a las necesidades de nuestros clientes.
              </p>
              <p>
                Nuestro objetivo es lograr desarrollar las soluciones que más valor aporten a Latinoamérica y a nuestros clientes.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
    <div class="row">
      <div class="col d-none d-md-block sidenav-space"></div>
      <div class="col bg-white">
        <staff></staff>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
    <div class="row">
      <div class="col d-none d-md-block sidenav-space"></div>
      <div class="col" style="background-image: url('/img/aboutus/zocalo.jpg');">
        <div class="container-fluid">
          <div class="row justify-content-md-center align-items-center half-height">
            <div class="col-sm-12 col-md-8  col-lg-8 text-light text-center">
              <h1 class="font-weight-light">Tenemos un objetivo claro:</h1>
              <p>
                Fomentar el desarrollo social y económico de América Latina y México.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
    <div class="row">
      <div class="col d-none d-md-block sidenav-space"></div>
      <div class="col bg-light-grey">
        <vacancies></vacancies>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  mounted() {
    this.$parent.active_el = this.$route.path;
    console.log('Component mounted.')
  }
}
</script>
<style>
  .sidenav-space{
    max-width:250px;
  }
  .bg-grey-black{
    background-color:#4a4a4a;
  }
  .bg-grey{
    background-color:#7a7a7a;
  }
  .full-height{
    min-height:100vh;
  }
  .half-height{
    min-height: 40vh;
  }
  .line-down{
    height: 60px;
  }
  .figure{
    width: 100%;
  }
  .last-line{
    margin-top: -50px;
  }
  .bg-light-grey{
    background-color: #b5b5b5;
  }
</style>