<template>
    <div class="post_sections row">
        <div class="col-md-12">
            <p class="h3 d-inline-block">Sections</p>
            <button type="button" class="btn btn-primary float-right" @click="newSectionModal">
                Add new section
            </button>
        </div>
        <div class="col-md-12">
            <div class="card mt-3">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Title</th>
                                    <th class="text-center">Type</th>
                                    <th class="text-center">Created at</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <draggable :list="sections" :options="{animation: 200, handle:'.my-handle'}" :element="'tbody'" @change="updateOrder">
                                <tr v-for="section in sections" :key="section.id">
                                    <td>
                                        <i class="fas fa-arrows-alt my-handle" style="cursor:pointer;"></i>
                                    </td>
                                    <td>{{ section.title }}</td>
                                    <td class="text-center">
                                        <span class="badge badge-pill badge-secondary p-2">
                                            {{ section.type }}
                                        </span>
                                    </td>
                                    <td class="text-center">{{ section.created_at | myDate }}</td>
                                    <td>
                                        <a class="btn text-secondary" @click="editSection(section)">
                                            <i class="fas fa-pencil-alt"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <a class="btn text-danger" @click="deleteSection(section.id)">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            </draggable>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import draggable from 'vuedraggable'
    export default {
        components: {
            draggable
        },
        props: {
            sections: Array
        },
        data: () => ({

        }),
        methods: {
            updateOrder(){
                this.$emit('reorder')
            },
            editSection(section){
                this.$emit('edit', section)
            },
            deleteSection(section)
            {
                this.$emit('delete', section)
            },
            newSectionModal(){
                this.$emit('clicked')
            }
        },
        created(){

        }
    }
</script>

<style lang="scss" scoped>

</style>