<template>
  <div class="post">
    <div class="row">
      <div class="col d-none d-md-block sidenav-space"></div>
      <div class="col" style="background-color: #E6E6E6;">
        <div class="container-fluid">
          <div class="row mt-4">
            <div class="col-md-12 pt-5">
              <span class="badge badge-secondary text-uppercase p-2">{{post.type}}</span>
              <h1 class="h2 mt-2 mb-3 font-weight-light">{{ post.title }}</h1>
              <p class="text-dark">{{ post.long_description }}</p>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-md-12">
              <p class="h5 mb-3 text-uppercase font-weight-light">Clientes:</p>
            </div>
            <div class="col-md-12">
              <div class="card-deck justify-content-center">
                <div class="card" style="max-width: 300px;" v-for="costumer in post.costumers" :key="costumer.id">
                  <img class="card-img-top" style="display:block; margin:auto; max-width: 250px;" :src="'/img/costumers/'+costumer.picture" :alt="costumer.name">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
    <div class="row" v-for="section in post.sections" :key="section.id">
      <div class="col d-none d-md-block sidenav-space"></div>
      <div class="col bg-grey-black">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 mt-3 mb-3">
              <h1 class="mb-3 text-white">{{ section.title }}</h1>
              <hr>
              <p class="text-white" v-if="section.description"><i class="fas fa-caret-right mr-2"></i>{{ section.description }}</p>
              <div class="mb-3 text-white" style="border-style: solid; border-width: 1.5px; border-color: #ff7900; padding: 20px;" v-for="item in section.items" :key="item.id" v-if="section.type == 'simple list'">
                <p>{{ item.title }}</p>
                <p>{{ item.text }}</p>
              </div>
              <p class="text-white" v-if="section.text"><i class="fas fa-caret-right mr-2"></i>{{ section.text }}</p>
            </div>
          </div>
        </div>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
</template>

<script>
export default {
  data() {
    return {
      post: {},
    }
  },
  created() {
    this.$parent.active_el = this.$route.path;
    axios.get('/api/post/'+this.$route.params.id).then(({data}) => (this.post = data));
  }
}
</script>
<style>
  .sidenav-space{
    max-width:250px;
  }
  .full-height{
    min-height:100vh;
  }
  .bg-grey-black{
    background-color:#4a4a4a;
  }
  .padding-post {
    padding-top: 15%;
  }
  @media (min-width: 1450px) {
    .padding-post {
      padding-top: 10%;
    }
  }

  @media (min-width: 1500px) {
    .padding-post {
      padding-top: 6%;
    }
  }
</style>