<template>
    <div class="post_costumers row">
        <div class="col-md-12">
            <p class="h3 d-inline-block">Costumers</p>
            <button type="button" class="btn btn-primary float-right" @click="linkCostumers">
                Link costumers
            </button>
        </div>
        <div class="col-md-12">
            <div class="card mt-3">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Logo</th>
                                    <th>Name</th>
                                    <th class="text-center">Created at</th>
                                    <th class="text-center">Unlink</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="costumer in costumers" :key="costumer.id">
                                    <td>
                                        <img style="width:100px;"  :src="'/img/costumers/'+costumer.picture" alt="Card image cap">
                                    </td>
                                    <td>{{ costumer.name }}</td>
                                    <td class="text-center">{{ costumer.created_at | myDate }}</td>
                                    <td class="text-center">
                                        <a class="text-secondary pointer" @click="unlinkCostumer(costumer.id)">
                                            <i class="fas fa-unlink"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            costumers: Array
        },
        data: () => ({

        }),
        methods: {
            unlinkCostumer(costumer){
                this.$emit('unlink', costumer)
            },
            linkCostumers(){
                this.$emit('clicked')
            }
        },
        created(){

        }
    }
</script>

<style lang="scss" scoped>

</style>