<template>
  <div>
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Manage Users</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Users</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="card card-default">


          <div class="card-body">
            <div class="card-body table-responsive p-0">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th></th>
                    <th class="text-center">Photo</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th class="text-center">Type</th>
                    <th class="text-center">Department</th>
                    <th class="text-center">Status</th>
                    <th>Updated at</th>
                    <th>Edit</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <draggable :list="users" :options="{animation:200, handle:'.my-handle'}" :element="'tbody'" @change="updateOrder">
                  <tr v-for="user in users" :key="user.id">
                    <td>
                      <i class="fas fa-arrows-alt my-handle" style="cursor:pointer;"></i>
                    </td>
                    <td>
                      <img class="post-img" :src="'/img/profile_pics/'+user.photo" alt="user photo">
                    </td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                      <span class="badge badge-pill badge-secondary">
                        {{ user.type | upText }}
                      </span>
                    </td>
                    <td>
                      <span class="badge badge-pill badge-secondary">
                        {{ user.department | upText }}
                      </span>
                    </td>
                    <td class="text-center">
                      <i v-if="user.public == 0" class="fas fa-eye"></i>
                      <i v-else class="fas fa-eye-slash"></i>
                    </td>
                    <td>{{ user.updated_at | myDate }}</td>
                    <td>
                      <a class="btn btn-primary" @click="editModal(user)">
                        <i class="fas fa-edit"></i>
                        <!-- <span class=""> Edit</span> -->
                      </a>
                    </td>
                    <td>
                      <a class="btn btn-danger" @click="deleteUser(user.id)">
                        <i class="fas fa-trash"></i>
                        <!-- <span> Delete</span> -->
                      </a>
                    </td>
                  </tr>
                </draggable>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-success fixed-btn" @click="newModal">
      <i class="fas fa-user-plus fa-fw"></i>
    </button>

    <!-- Modal -->
    <div class="modal fade" id="usersModal" tabindex="-1" role="dialog" aria-labelledby="usersModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" v-show="!editmode" id="createusersLabel">Create User</h5>
            <h5 class="modal-title" v-show="editmode" id="createusersLabel">Update User's Info</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form @submit.prevent="editmode ? updateUser() : createUser()">
          <div class="modal-body">
            <div class="form-group">
              <label for="name">Name</label>
              <input v-model="form.name" type="text" name="name" placeholder="Name"
                class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
              <has-error :form="form" field="name"></has-error>
            </div>

            <div class="form-group">
              <label for="email">Email</label>
              <input v-model="form.email" type="email" name="email" placeholder="Email"
                class="form-control" :class="{ 'is-invalid': form.errors.has('email') }">
              <has-error :form="form" field="email"></has-error>
            </div>

            <div class="form-group">
              <label for="photo">Profile picture</label>
              <input type="file" @change="updatePicture" class="form-control-file" id="photo" name="photo">
            </div>

            <div class="form-group">
              <label for="type">User role</label>
              <select name="type" v-model="form.type" id="type" class="form-control" :class="{ 'is-invalid': form.errors.has('type') }">
                <option value="">Select User Role</option>
                <option value="admin">Admin</option>
                <option value="content admin">Content Admin</option>
                <option value="talent admin">Talent Admin</option>
                <option value="user">User</option>
              </select>
            </div>

            <div class="form-group">
              <label for="department">Department</label>
              <select name="department" v-model="form.department" id="department" class="form-control" :class="{ 'is-invalid': form.errors.has('department') }">
                <option value="">Select Department</option>
                <option value="consultancy">Consultancy</option>
                <option value="administration">Administration</option>
                <option value="digital solutions">Digital solutions</option>
              </select>
              <has-error :form="form" field="department"></has-error>
            </div>

            <div class="form-group">
              <label for="position">Position</label>
              <input v-model="form.position" type="text" name="position" placeholder="Position"
                class="form-control" :class="{ 'is-invalid': form.errors.has('position') }">
              <has-error :form="form" field="position"></has-error>
            </div>

            <div class="form-group">
              <label for="bio">Short bio</label>
              <textarea v-model="form.bio" name="bio" placeholder="Short bio for user (Optional)"
                class="form-control" :class="{ 'is-invalid': form.errors.has('bio') }">
              </textarea>
              <has-error :form="form" field="bio"></has-error>
            </div>

            <div class="form-group">
              <label for="password">Password</label>
              <input v-model="form.password" type="password" name="password" placeholder="Password"
                class="form-control" :class="{ 'is-invalid': form.errors.has('password') }">
              <has-error :form="form" field="password"></has-error>
            </div>

            <div class="form-group">
              <label for="public">Status</label>
              <select name="public" v-model="form.public" id="public" class="form-control" :class="{ 'is-invalid': form.errors.has('public') }">
                <option value="">Select status</option>
                <option value="0">Public</option>
                <option value="1">Private</option>
              </select>
              <has-error :form="form" field="public"></has-error>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button v-show="editmode" type="submit" class="btn btn-primary">Update</button>
            <button v-show="!editmode" type="submit" class="btn btn-success">Create</button>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import draggable from 'vuedraggable'
export default {
  components: {
    draggable
  },
  data() {
    return {
      editmode: false,
      users: [],
      form: new Form({
        id: '',
        name: '',
        email: '',
        password: '',
        type: '',
        department: '',
        position: '',
        bio: '',
        photo: '',
        public: '',
        order: '',
      })
    }
  },
  methods: {
    updateOrder(){
      this.users.map((user, index) => {
        user.order = index + 1;
      })
      this.$Progress.start();
      axios.put('api/users-ordered',
        {users:this.users}
      )
      .then(() => {
        toast({
          type: 'success',
          title: 'User order updated successfully'
        })
        Fire.$emit('AfterCreate');
        this.$Progress.finish();
      })
      .catch(() => {
        this.$Progress.fail();
      });
    },
    loadUsers(){
      axios.get("api/user").then(({data}) => (this.users = data));
    },
    updatePicture(e){
      // console.log('uploading');
      let file = e.target.files[0];
      console.log(file);
      let reader = new FileReader();
      // let vm = this;
      if (file['size'] < 2122775) {
        reader.onloadend = (file) => {
          // console.log('RESULT', reader.result)
          this.form.photo = reader.result;
        }
        reader.readAsDataURL(file);
      } else {
        swal({
          type: 'error',
          title: 'Oopss...',
          text: 'You are uploading a large file',
        })
      }
    },
    
    newModal(){
      this.editmode = false;
      this.form.reset();
      this.form.order = this.users.length + 1;
      $('#usersModal').modal('show');
    },
    editModal(user){
      this.editmode = true;
      this.form.reset();
      $('#usersModal').modal('show');
      this.form.fill(user);
    },
    updateUser(){
      this.$Progress.start();
      //console.log("editing data");
      this.form.put('api/user/'+this.form.id)
      .then(() => {
        // successfull
        $('#usersModal').modal('hide');
        swal(
          'Updated!',
          'User information has been updated.',
          'success'
        )
        this.$Progress.finish();
        Fire.$emit('AfterCreate');
      })
      .catch(() => {
        this.$Progress.fail();
      });
    },
    deleteUser(id){
      swal({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!'
      }).then((result) => {
        //Send request to server
        if (result.value) {
          this.form.delete('api/user/'+id).then(()=>{
            swal(
              'Deleted!',
              'User has been deleted.',
              'success'
            )
            Fire.$emit('AfterCreate');
          }).catch(()=>{
            swal("Failed!", "There was something wrong.", "warning");
          });
        }
      })
    },
    createUser(){
      this.$Progress.start();
      // Submit form via post request
      this.form.post('api/user').then(()=>{
        Fire.$emit('AfterCreate');

        $('#usersModal').modal('hide')

        toast({
          type: 'success',
          title: 'User created successfully'
        })

        this.$Progress.finish();
      }).catch(()=>{
        this.$Progress.fail()
      })
    }
  },
  created() {
    this.loadUsers();

    Fire.$on('AfterCreate',() => {
      this.loadUsers();
    });
  }
}
</script>

<style>
  .fixed-btn {
     position: fixed;
     right: 40px;
     bottom: 40px;
  }

  .post-img{
    width: 100px;
  }
</style>